html
  head
    title Angular Pinterest
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js')
    script(src='https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js')
    script(src="lib/angulargrid.js")
    script(src='js/app.js')
  body(ng-app='pinterest', ng-controller='MainCtrl')
    div.view
      nav.navbar.navbar-fixed-top.navbar-light.nav-branded
        a.navbar-brand(href='#')
          img.img-nav.d-inline-block.align-top(src='https://angular.io/resources/images/logos/angular2/angular.png')
          | Angular Pinterest
        i.nav-icon.float-xs-right.fa.fa-user.fa-2x(ng-click='loadPersonal()')
        .dropdown.float-xs-right.mr-3
          i.nav-icon.fa.fa-compass.fa-2x.dropdown-toggle(href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='' ng-click='loadCate("Food")') Food
            a.dropdown-item(href='' ng-click='loadCate("Tech")') Tech
            a.dropdown-item(href='' ng-click='loadCate("Funny")') Funny
            a.dropdown-item(href='' ng-click='loadCate("Nature")') Nature
            a.dropdown-item(href='' ng-click='loadCate("Fashion")') Fashion
        form#search-form.form-inline.float-xs-left.mb-0
          div.input-group(style='width: 100%')
            span.input-group-addon(style='width: 45px')
              i.fa.fa-search
            input.form-control#search-bar(type='text' placeholder='Explore new ideas...')
      i.fa.fa-plus-circle#icon-add(ng-click='showForm()')
      i.fa.fa-info-circle#icon-help
      h3.text-xs-center {{currentboard}}  
        i.fa.fa-times(ng-if="currentboard != 'Most Recent'" ng-click="loadRecent()")
      ul.dynamic-grid(angular-grid='pics', ag-grid-width='250', ag-gutter-size='10', ag-id='gallery', ag-refresh-on-img-load='true', ag-infinite-scroll="loadMore()")
        li.grid.mb-2(data-ng-repeat='pic in pics')
          .pinimage
            img.grid-img(src='{{pic.imagelink}}',data-actual-height="1000px")
            button#overlay.btn.btn-red(ng-click='repin(pic._id)') Pin
          .pin-desc-wrapper
            .container-fluid.m-0.p-0
              .row.no-pad
                .col-xs-10.m-0.p-0
                  .pin-title {{pic.title}}
                .col-xs-2.m-0.p-0
                  i.fa.fa-repeat  {{pic.pincount}}
            .pin-upload-date(ng-if="currentboard != 'Personal Board'") Uploaded on December 1, 2016
            .pin-optlink
              a(href="{{pic.optlink}}" ng-if="pic.optlink != 'undefined'") {{pic.optlinkcut}}
            .container-fluid.m-0.p-0(ng-if="currentboard != 'Personal Board'")
              .row.no-pad
                .col-xs-2.m-0.p-0.text-xs-left
                  .pin-recent-pinner-pic
                      img(src='{{pic.recentpinner.pic}}', style='width: 30px; border-radius: 30px;')                
                .col-xs-10.text-xs-left.m-0.p-0
                  .pin-recent-pinner(style='margin-top: 3px!important') <b>{{pic.recentpinner.name}}</b>
                  .pin-recent-pinner {{pic.recentpinner.desc}}
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")