.modal-header.text-xs-center
  h2 Create a new Pin!
.modal-body
    .container-fluid
      .row.no-pad
        .col-md-6
          img.img-fluid(ng-src='{{imagelink}}')
        .col-md-6
          center
            form.modal-form(action='/api/test', method='POST')
              .newpinform
                .form-group
                  input.modal-form-input.form-control(type='url', name='imagelink', ng-model='userForm.imagelink', required='', placeholder='Image URL')
                .form-group
                  input.modal-form-input.form-control(type='url', name='optlink', ng-model='userForm.optlink', placeholder='Link to site (optional)')
                .form-group
                  input.modal-form-input.form-control(type='text', name='title', ng-model='userForm.title', ng-minlength='3', ng-maxlength='25', required='', placeholder='Title')
                  p.help-block(ng-show='form.userForm.title.$error.minlength') Title is too short.
                  p.help-block(ng-show='form.userForm.title.$error.maxlength') Title is too long.
                .form-group
                  input.modal-form-input.form-control(type='text', name='tag', ng-model='userForm.tag', ng-minlength='3', ng-maxlength='60', required='', placeholder='Tags (seperated by space)')
                  p.help-block(ng-show='form.userForm.tag.$error.minlength') Tag list is too short.
                  p.help-block(ng-show='form.userForm.tag.$error.maxlength') Tag list is too long.
                .form-group
                  input.modal-form-input.form-control(type='text', name='desc', ng-model='userForm.desc', placeholder='Comment (optional)')
                .form-group
                  button.btn.btn-red(type='submit', ng-disabled='form.userForm.$invalid') Submit
.modal-footer
  center
    button.btn.btn-red(ng-click='cancel()') Cancel